h1 {}

/* FILTER */

.search-bar {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.search-bar select {
    font-size: 1.2em;
    border-radius: 15px;
    padding: .1em 0.7em;
}
.search input {
    height: 10px;
    position: relative;
    top: 14px;
}

.checkboxes {
    width: 50%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkbox {
    display: flex;
}
.checkbox label {
    margin-left: .5em;
    position: relative;
    top: -3px;
    white-space: nowrap;
}

/* LISTE DES PLANTES */

.codex-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 2em;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin: 1em 0;
    padding: 1em 2em 1em 1em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #EEE;
}

.label {
    margin: .4em;
    text-decoration: underline;
    letter-spacing: .5px;
}
.label::first-letter {
    font-weight: bold;
}

.data {
    margin-left: 1em;
}

.image {
    width: 100%;
    padding: 2em;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1280px) {
    .codex-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .codex-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .codex-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}