h1 {
    margin: 1em;
}

.line {
    width: 75%;
    height: .5em;
    background-color: rgb(243, 66, 53);
    border-radius: 0 .25em .25em 0;
}
.line.hiver {
    background-color: rgb(46, 79, 114);
}

.image-container {
    width: 100%;
    height: 33vh;
    margin-top: 1em;
    display: flex;
    justify-content: end;
    position: relative;
}

.colored-bg {
    width: 60%;
    height: 100%;
    margin-right: 10%;
    background-color: rgb(255, 229, 136);
}
.colored-bg.hiver {
    background-color: rgb(219, 227, 255);
}

.solo-image {
    height: 80%;
    position: absolute;
    top: 10%;
    left: 20%;
}

.question {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    text-align: center;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    padding: 1em;
    margin: 1em;
    background-color: rgb(243, 66, 53);
    color: white;
    border-radius: 1em;
}
button.hiver {
    background-color: rgb(46, 79, 114);
}

.btns img, .btns .number-container {
    width: 75%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns .number {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin: 1em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.progress-bar {
    width: 100%;
    height: 1em;
    border: 1px solid black;
    border-radius: .5em;
    overflow: hidden;
}
.progress-content {
    width: 0%;
    height: 100%;
    background-color: black;
}
.counter-container {
    margin-top: 1em;
    width: 3em;
    height: 3em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hidden {
    display: none;
}