<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}

    {% block javascript %}{% endblock %}
    <script type="module" src="/js/app.js" defer></script>

</head>
<body>
    {% block header %}
        <header>
        </header>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
        </footer>
    {% endblock %}
</body>
</html>