{% extends "base.html.twig" %}

{% block title %}Quizz sur les plantes{% endblock %}

{% block javascript %}
<script type="module" src="/js/app.js" defer></script>
{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Quizz général :</h1>
        <div class="line"></div>   

        <div class="image-container">            
            <div class="green-bg"></div>
            <img src="" class="solo-image">
        </div>

        <p class="question"></p>

        <div class="btns"></div>

        <p><span class="counter"></span> questions restantes.</p>
    </section>
</main>
{% endblock %}