{% extends "base.html.twig" %}

{% block title %}Quizz sur les plantes{% endblock %}

{% block body %}
<main>
    <section>
        <p>Veuillez choisir un <a href="/quizz/normal">quizz normal</a> ou un <a href="/quizz/hiver">quizz hiver</a>.</p>
    </section>
</main>
{% endblock %}